<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>User Registration</title>
  <link rel="stylesheet" th:href="@{/css/edit.css}">
</head>
<body>
<div class="container">
  <div class="col-md-8 offset-md-4">
    <h2>Edit</h2>
    <form th:action="@{/product/edit}" th:object="${product}" method="post">
      <img class="card-img" th:src="@{'/images/' + ${product.getImageName()}}">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control w-25" th:value="${product.name}" id="name" placeholder="Enter username" name="name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control w-25" th:value="${product.description}" id="description" placeholder="Enter password" name="description">
      </div>
      <div class="form-group">
        <input type="text" class="form-control w-25" th:value="${product.price}" id="price" placeholder="Enter email" name="price">
      </div>
      <div class="form-group">
        <input type="hidden" class="form-control w-25" th:value="${product.id}" id="id" name="id">
      </div>
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>
</body>
</html>