<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Your+Custom+Font&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <th:block th:insert="~{elements/header.html}"/>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
    }

    .card {
      margin: 20px auto;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: #fff;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 5px;
    }

  </style>
</head>
<body>
<div class="card w-50 mx-auto" type="user">
  <h3 class="text-center">Welcome, <span class="font-italic" th:text="${user.getEmail()}"></span>!</h3>
  <p class="text-center">Your name: <span class="font-italic" th:text="${user.getName()}"></span></p>
  <p class="text-center">Your surname: <span class="font-italic" th:text="${user.getSurname()}"></span></p>
  <p class="text-center">Your password: <span class="font-italic" th:text="${user.getPassword()}"></span></p>
  <div class="btn-container">
    <a th:href="@{'/edit'}">
      <button class="btn" type="button">Edit profile</button>
    </a>
  </div>
</div>
<div th:block th:insert="~{elements/footer.html}"></div>
</body>
</html>